%h2 Minusta

%p Ruotsin kielen opettajan ja peruskouluopettajan tutkintojeni myötä olen monen vuoden ajan pohtinut oppimista ja sitä, miten opimme parhaiten.

%p Kun tunnemme olomme harmoniseksi ja iloiseksi, unohdamme oppimistilanteen ja opimme paremmin. Opettajan tärkein tehtävä onkin mielestäni luoda aisteja herättävä ympäristö ja hyvä tunnelma luokassa, joka kutsuu jokaisessa esiin kyvyn heittäytyä tilanteeseen.
    
.centered= image_tag "bild2.jpg", :width => 320, :height => 370

%p Tätä nykyä toimin suggestopedisena opettajana. Olen opiskellut professori Lozanovin johdolla, jonka myötä minulla on pätevyys myös jatkokouluttaa opettajia. Koulutan Suggestopediakademissa yhdessä kollegojeni Anna Cramérin ja Lonny Goldin kanssa. Suggestopediakademin on pieni järjestö, jossa jatkokoulutetaan opettajia sekä Suomessa että Ruotsissa.

.centered= image_tag("akademinlogo.bmp", :class => "no-border")

%p Asun Etelä-Suomessa mutta järjestän kursseja joka puolella Suomea, Ruotsia ja Norjaa.

%p Tällä hetkellä toimin ruotsin opettajana Västra Nylands folkhögskolanissa kotikaupungissani Karjaalla.