.centered= image_tag "cl.jpg", :width => 600, :height => 390

%h2 Läroriket

%p 
  sinulle, joka haluat oppia ruotsia nopeasti ja vaivattomasti 
  %br/
  hyville opettajille, jotka haluavat entisestään parantaa opettajantaitojaan

%h2 Opettavaista

%p 
  Kun ymmärrämme aivojen toimintaa, voimme sekä oppia että opettaa tehokkaammin. 
  %br/
  Kun aivot saavat oppia luonnollisella tavalla, koko oppimisprosessi sujuu kuin leikki!