body {
  margin: 2px;
  font-family: helvetica, sans-serif;
  color: #244;
  background-color: #f0f5f2;
}

#container {
  margin: 0px auto;
  border: solid 2px #256;
  width: 700px;
  background-color: #fff;
}

nav {
  position: relative;
  float: right;
  top: 10px;
  left: -10px;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: #446;
}

a:hover {
  text-decoration: underline;
  color: #646;
}

ul { 
  margin: 0px; 
  padding: 0px; 
  padding-left: 25px;
  letter-spacing: 1px;
  word-spacing: 1px;
  list-style: inside;
}

img {
  border: 2px ridge #446;
  margin: 10px 0px;
}

h2 {
  margin: 15px;
  padding-bottom: 5px;
  
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 2px;
}

p {
  text-align: justify;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin: 20px 0px;
}

.link {
  margin: 5px;
  padding-left: 5px;
}

/* -- Header -- */

#header {
  background-color: #eef1f3;
  border-bottom: solid 2px navy;
}

#title  {
  position: relative;
  padding: 15px;
}

#main-title { margin: 0px; }
#sub-title  { margin: 0px; }
#top-nav {
  margin: 0px;
  z-index: 1;
}

#main-title a {
  text-shadow: black 1px 1px 3px;
}

#main-title a:hover {
  text-decoration: none;
  text-shadow: black 1px 1px 3px;
  color: #446;
}

#sub-title {
  margin: 0px;
  margin-left: 1em;
  font-family: serif;
  font-style: italic;
}

#top-nav ul li {
  list-style-type: none;
  display: inline;
}

#top-nav a {
  font-family: serif;
  margin: 5px;
  padding: 2px 8px 2px 8px;
  background-color: #dddde0;
}

/* -- Container -- */

#border {
  height: 62px;
  padding: 0em;
  background-image:url('bord_mini_leaves_013.gif');
  background-repeat:repeat-x;
  background-position: top left;
}  

#main {
  margin: 1em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  font-size: 95%;
}

/* -- Footer -- */

#footer {
  padding: 0.5em;
  height: 40px;
  color: #333;
  font-size: 65%;
}

#footer p {
  padding: 0px;
  margin: 0px;
  letter-spacing: 0px;
  word-spacing: 0px;
}

#footer .right p {
  width: 50%;
  float: right;
  vertical-align: center;
  margin-right: -1em;
}

#footer .left p {
  float: left;
  text-align: right;
  margin-left: -1em;
  width: 50%;
}

/* -- Contact form - */

div.row {
  clear: both;
  padding-top: 10px;
}

div.row span.label {
  float: left;
  width: 100px;
  text-align: right;
}

div.row span.field {
  float: left;
  width: 335px;
  text-align: left;
}

div.button {
  clear: both;
  margin-top: 10px;
  margin-left: 100px;
  float: left;
}

/* -- Random -- */

.centered {
  text-align: center;
}

.no-border {
  border-style: none;
}

fieldset {
  width: 500px;
}