%h2 Om mig

%p Med en utbildning som lärare i svenska som främmande språk men också som grundskollärare i bakfickan har jag under många år funderat över inlärning och hur den sker när den är som bäst.

%p Om man upplever harmoni och känner sig glad glömmer man bort att man befinner sig i en inlärningssituation och lär bättre. Därför tycker jag det viktigaste för en lärare är att skapa en stimulerande miljö och en god stämning i klassen och på så sätt locka fram spontaniteten hos var och en.

.centered= image_tag "bild3_wien.jpg", :width => 320, :height => 370

%p Numera är jag diplomerad suggestopedilärare och har gått i lära hos professor Lozanov för att även ha rätt att ge lärarfortbildningar. Detta gör jag tillsammans med mina kolleger Anna Cramér och Lonny Gold inom Suggestopediakademin, en liten organisation där vi fortbildar lärare både i Finland och i Sverige.

.centered= image_tag("akademinlogo.bmp", :class => "no-border")

%p Jag bor i södra Finland men ger kurser i hela Finland, i Sverige och i Norge.

%p Just nu arbetar jag som lärare i svenska som främmande språk vid Västra Nylands folkhögsskola i min hemstad Karis.