%h2 Språkkurser

%p
  %strong 6 x 45 minuter
  %br/
  På bara 6 lektioner får du nosa på svenska språket, du lär du dig använda de vanligaste hälsningsfraserna, du lär dig presentera dig, ge uppmaningar, ställa frågor och ge svar.

%p
  %strong 20 x 45 minuter (4 dagar)
  %br/
  Du lär du dig använda hälsningsfraser, du lär dig presentera dig, ge uppmaningar, ställa frågor och ge svar. Du lär dig också något om den svenska grammatiken, t.ex. hur verb, substantiv och adjektiv ser ut och hur de böjs.

%p
  %strong 90 x 45 minuter (3 veckor)
  %br/
  Du kan förstå och uttrycka dig på svenska både i tal och i skrift. Du får ett basordförråd och en basgrammatik så att du klarar dig i en svensk omgivning.

%h2 Glimtar ur ett klassrum

%p
  %strong Musik, rytm och rörelse
  %br/
  Sång och musik i undervisningen gör att vi lär oss snabbare. Språket sätter sig i kroppen tillsammans med rytm och rörelser, och det stannar garanterat längre kvar än om vi pluggar på traditionellt sätt!

%p
  %strong Spel och lekar
  %br/
  I olika slags pedagogiska spel övas grammatik på ett snillrikt sätt så att inlärningen sker lekande lätt, liksom i förbifarten. Rörelselekar och andra lekar är oslagbara vid ord- och grammatikinlärning.

%p
  %strong Svensk språkmiljö
  %br/
  Redan från första lektionen börjar vi prata och svenskan används aktivt i grupperna från början till slut under alla kurser. 

%p
  %strong Variation
  %br/ 
  Genom variation hålls vi hela tiden på alerten, vi lär med alla våra sinnen och når högsta möjliga resultat.

%span#kursbilder
  = image_tag "bild3.jpg", :height => 340, :width => 450
-#  = image_tag "spel2.jpg", :height => 340, :width => 570

%br/
%hr/
%br/

%h2 Kurser för lärare

%p
  %strong Piffa upp!
  %br/ 
  Vill du få tips och råd om hur du kan piffa upp din undervisning och få dina elever att lära sig bättre?
  %br/ 
  Vill du se hur de effektiva metoderna TPR och suggestopedi fungerar? 
  %br/ 
  Vill du göra enkla hjälpmedel för en intressant och effektiv inlärningsmiljö?
  %br/ 
  Kontakta mig för en 1-3 dagars fortbildning på din skola.

%p
  %strong Bli suggestopedilärare 
  %br/
  Inom Suggestopediakademin kan du utbilda dig till suggestopedilärare på kurser i Finland eller i Sverige. Utbildningen består av tre kurser, kallade steg 1-3. Efter att du fått diplom som suggestopedilärare kan delta i steg 4 och utveckla dina kunskaper för undervisning på verkligt höga nivåer.

%p.link= link_to "Mer information", "http://www.allasinnen.se/index.php?section=0&page=9"

%h2 Glimtar ur en lärarfortbildning

%p Du får lära dig grunderna i portugisiska och du ser hur effektiv metoden är! Du får lära dig tankegångarna i suggestopedisk teori, träna på olika moment i den s.k. suggestopediska cykeln: introduktioner,  läsning till musik, olika slag av aktiveringar och mjuka övergångar mellan dem och du får själv demonstrera inför övriga kursdeltagare vad du lärt dig under de 12 dagar din utbildning har tagit.

.centered= image_tag "isberget.jpg", :width => 600, :height => 450