.centered= image_tag "cl.jpg", :width => "50%", :height => "40%"

%h2 Läroriket

%p 
  finns till för dig som vill lära dig svenska snabbt och enkelt
  %br/
  finns till för att hjälpa goda lärare bli bättre lärare

%h2 Lärorikt

%p 
  Om vi förstår hur hjärnan fungerar kan vi effektivt både lära in och lära ut.
  %br/
  Om vi låter hjärnan lära sig på det naturliga sättet blir hela processen lekande lätt!